<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% film.forEach((film) => {%>
        <li>
            <div>   
                <h1><%= film.name %></h1>
                <p><%= film.rating %></p>
                <p><%= film.year %></p>
                <p><%= film.language %></p>
                <p><%= film.country %></p>
                <p><%= film.age %></p>
            </div>
        </li>
       <hr>
    <%})%>
</body>
</html>
